
#
# Module configuration file for
# Task List
# (com.mycompany.tasklist)
#

depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata

displayname: Task List
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
